<% if(userId  != currentUser.id){ %>
  <% if(isFollowed == true){ %>
    <form action="/follow/<%= userId %>?_method=DELETE" method="POST">
    <button class="following-button" type="submit">
      <p class="following-button-text">Following</p>
      <p class="following-button-text-hover">Unfollow</p>
    </button>
  </form>
  <% } else { %>
    <form action="/follow/<%= userId %>" method="POST">
      <button class="follow-button" type="submit">
        <p class="follow-button-text">Follow</p>
      </button>
    </form>
<% } }%>