<div class="main posts-index">
  <div class="container">
    <a href="/posts/" class="to-posts">Explore all posts →</a>
    <p class="posts-title">Following Posts</p>
    <br>
    <%- include('../following_timeline', {timeline: timeline}); %>
  </div>
</div>
