<div class="main posts-index">
  <div class="container">
    <a href="/posts/" class="to-posts">Back to Following Posts <span class="material-icons">arrow_forward</span></a>
    <p class="posts-title">Posts Explorer</p>
    <br>
    <%- include('../_timeline', {timeline: timeline}); %>
  </div>
</div>
