<div class="main posts-index">
  <div class="container">
    <a href="/followingposts/" class="to-posts">Back to Following Posts →</a>
    <p class="posts-title">Posts Explorer</p>
    <br>
    <%- include('../_timeline', {timeline: timeline}); %>
  </div>
</div>
