<div class="modal-follow" id="modal-follow">
  <input type="radio" name="modal-follow" id="modal-close">
  <input type="radio" name="modal-follow" id="modal-overlay" checked>
  <input id="follower-tab-button" type="radio" name="modal-follow" class="tab-switch" />
  <input id="following-tab-button" type="radio" name="modal-follow" class="tab-switch" />
  <div class="modal-wrapper">
    <label for="modal-overlay" class="modal-overlay">
    </label>
    <div class="modal-window">
      <div class="modal-header">
        <ul class="modal-header-buttons">


          <li class="modal-follow-tab modal-follower-tab">
            <label class="tab-label" for="follower-tab-button">followers</label>
            <span class="focus-border"></span>
          </li>

          <li class="modal-follow-tab modal-following-tab">
            <label class="tab-label" for="following-tab-button">followings</label>
            <span class="focus-border"></span>
          </li>
        </ul>
            <label for="modal-close" class="modal-close"></label>
      </div>
      <div class="modal-content">
        <div class="modal-tab-wrap">
          <div class="tab-content tab-content-follower">
            <%- include('ff-list-item', {users:followers, currentUrl: currentUrl}); %>
          </div>
          <div class="tab-content tab-content-following">
            <%- include('ff-list-item', {users:followees, currentUrl: currentUrl}); %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>